



body {
    scroll-snap-type: y mandatory;
    opacity: none;
  }




  img {
    vertical-align: middle;
    border-style: none;
    max-height: 80vh;
    max-width: 100%;
  }
  
  section {
    height: 100vh;
    padding: 2rem;
    scroll-snap-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
  
  }
  
  section#one {
    background-image: url(images/nikki-queen-small.png);
    background-repeat: no-repeat;
    background-size: 25vh;
    background-position: 90% 100%;
    align-items: flex-start;
  }
  @media only screen and (min-width: 1024px) {
    section#one {
      align-items: center;
    }
  }
  
  section#one .nes-container {
    background-color: #ffffff;
  }

  section#contributors {
    background: url(images/sqlmatrix.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  