body {
    scroll-snap-type: y mandatory;
  }
  
  section {
    height: 100vh;
    padding: 2rem;
    scroll-snap-align: start;
    display:flex;
    justify-content:center;
    align-items:center;
  
  }
  
  section#one {
      background-image:url(images/nikki-queen-small.png);
      background-repeat: no-repeat;
      background-size:100%;
      background-position: bottom right;
  }
  
  
  section#one .nes-container {
    background-color: #ffffff;
  }
  